
body{
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 1px rgb(248, 246, 246);
}
.container{
    margin: 50px;
    display: flex;
    flex: 1;
    align-content: center;}
 .information{
    width: 50%;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{
    width: 50%;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    flex: 1;
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
}
.search input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1; 
  border-radius: 12px; 
  box-shadow: 2px 2px 5px black;
}
.entete {
    font-size: 36px;
}
.second{
    font-size: 24px;
}
.copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bolder;
}
.details{
    font-weight: bolder;
    color: rgb(27, 27, 27);
    font-size: 18px;
}
#temp{
    font-size: 36px;
}

